@import "_css_reset";
@import "_variable";

/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,p{
    line-height: 1.5;
    font-family: 'Roboto', 'Noto Sans TC', sans-serif;
}
h1{
    font-size: 4rem;
    font-weight: 700;
}
h2{
    font-size: 3rem;
    font-weight: bold;
}
h3{
    font-size: 2.25rem;
}
h4{
    font-size: 2rem;
    font-weight: 500;
}
h5{
    font-size: 1.5rem;
}
section{
    padding: 80px 0;
}
a{
    text-decoration: none;
    color: #fff;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    color: #fff;
    background-color: $main;
}

.flex{
    display: flex;
    &-col{
        flex-direction: column;
    }
    &-rowreverse{
        flex-direction: row-reverse;
    }
    &-colreverse{
        flex-direction: column-reverse;
    }
}
.justify{
    &-center{
        justify-content: center;
    }
    &-between{
        justify-content: space-between;
    }
    &-end{
        justify-content: flex-end;
    }
}
.align{
    &-center{
        align-items: center;
    }
    &-end{
        align-items: flex-end;
    }
}
.container{
    max-width: 1360px;
    padding: 0 2rem;
    margin: 0 auto;
}

/*main scss*/

.nav-bar{
    padding: 16px 0;
    font-size: 1.25rem;
    color: #fff;
    background-color: $main;
    img{
        width: 80px;
    }
    li{
        margin-left: 4rem;
    }
}
.banner{
    padding: 0;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .container{
        height: 787px;
    }
}
.banner{
    text-align: right;
}
.banner-text{
    color: $main-darken;
}
.content{
    padding: 80px 0;
    text-align: center;
    background-color: #FBF2F2;
    img{
        width: 83px;
        margin-bottom: 1rem;
    }
    h4{
        margin-bottom: 0.5rem;
        color: $main-darken;
    }
    p{
        text-align-last: left;
    }
}
.content-text{
    width: 306px;
    padding: 1.5rem 0;
}