@import "_css_reset";
@import "_variable";
@import "_mixin";
@import "_global";


/*main scss*/

.nav-bar{
    padding: 16px 0;
    font-size: 1.25rem;
    color: #fff;
    background-color: $main;
    img{
        width: 80px;
    }
    li{
        margin-left: 4rem;
    }
}
.banner{
    padding: 0;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    @include pad{
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    }
    .container{
        height: 787px;
    }
}
.banner{
    text-align: right;
}
.banner-text{
    color: $main-darken;
}
.container{
    h2{
        margin: 3rem 0;
    }
}
.card{
    gap: 1.5rem;
    @include pad{
        flex-wrap: wrap;
    }
}
.service{
    text-align: center;
    background-color: #FBF2F2;
    img{
        width: 83px;
        margin-bottom: 1rem;
    }
    h4{
        margin-bottom: 0.5rem;
        color: $main-darken;
    }
    p{
        text-align-last: left;
    }
}
.content-text{
    max-width: 306px;
    @include pad{
        max-width: 400px;
    }
}
.type{
    .content-text{
        width: 416px;
        img{
            width: 100%;
        }
        h2{
            color: $main;
            font-style: italic;
            margin: 0;
        }
    }
}
.type-content{
    @include pad{
        flex-direction: column;
        align-items: center;
    }
}
.cobranding{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        color: #fff;
    }
}
.co-text{
    max-width: 648px;
    background-color: #fff;
    img{
        width: 100%;
    }
    h2{
        color: $main;
        font-style: italic;
        margin: 0;
    }
}
.customer-text{
    max-width: 306px;
    height: 511px;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 5px #707070;
    text-align: left;
    overflow: hidden;
    .customer-img{
        height: 306px;
        overflow: hidden;
    }
    img{
        width: 100%;
    }
    @include pad{
        max-width: 336px;
    }
}
.text-area{
    height: 205px;
    padding: 1rem;
    .customer-name{
        font-weight: 500;
    }
    .common{
        flex-grow: 1;
    }
    .date{
        font-size: 14px;
        color: #707070;
    }
}
